@import '../../styles.scss';

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
#footerContainer{
    background-color: $main-dark;
    color: $main-light;
    width: 90%;
    padding: 20px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

img{
    width: 10%;
    height: 10%;
}

#newletter{
    display: flex;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}