<footer>
    <div id="footerContainer">
        <div id="navfooter" style="display: flex;align-items: center;justify-content: space-between;margin: 3% 0 3%;">
            <img src="logo-skillmate-side-text-alternate.svg" alt="">
            <div id="newletter">
                <input type="text" pInputText formControlName="text" placeholder="Adresse email" style="margin-right: 2%;"/>
                <p-button label="S'abonner" class="custom-button" />
            </div>
        </div>
        <div class="separator"></div>
        <div style="display: flex;align-items: center;justify-content: space-between;">
            <p>© 2025 Skillmate. All Rights Reserved.</p>
            <a href="#" style="color: #F3F3F3;">Privacy Policy</a>
        </div>
    </div>
</footer>


