<div *ngIf="this.userInfo!.statut_personnel === 'admin'">
  <app-mission-admin-view></app-mission-admin-view>
</div>

<div *ngIf="this.userInfo!.statut_personnel === 'chef_projet' && this.mission?.statut_mission === 'En préparation'">
  <app-mission-chef-projet-view></app-mission-chef-projet-view>
</div>
<div *ngIf="this.userInfo!.statut_personnel === 'chef_projet' && this.mission?.statut_mission === 'Planifiée'">
  <app-mission-overview [mission]="mission">
  </app-mission-overview>
</div>

<div *ngIf="this.userInfo!.statut_personnel === 'employe' && this.mission?.statut_mission === 'Planifiée'">
  <app-mission-overview [mission]="mission">
  </app-mission-overview>
</div>
