 <div id="container">
    <div id="text">
        <h1 style="margin: 0;">Manager les compétences de son entreprise</h1>
        <div>
            <p>
                Skillmate propose une solutions web pour gérer les ressources 
                seins de sa structure. 
                Simple d’utilisation et super portatifs skillmate redefinie la gestions 
                de compétences et ressources.
            </p>
            <a [routerLink]="['/auth/login']">
                <p-button label="Rejoindre l'aventure" size="large"/>
            </a>
        </div>
    </div>
    <img src="illus-landing.svg" alt="">
 </div>
 <app-footer></app-footer>
