<p-toast />
<p-confirmdialog #cd>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
        <div class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded">
            <div
                class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20">
                <i class="pi pi-question !text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex items-center gap-2 mt-6">
                <p-button label="Annuler" outlined="true" (click)="onReject()" styleClass=".alternateBtn" />
                <p-button label="Confirmer" (click)="onAccept()" styleClass="primaryBtn"/>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>

<div id="container">
  <div id="sidebar">
    <div id="sidebar-title">
      <img src="logo-skillmate-side-text-alternate.svg" alt="logo skillmate" id="logo">
    </div>
    <div id="sidebar-search">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" pSize="small"/>
      </p-iconfield>
    </div>
    <div id="sidebar-content">
      <div class="sidebar-button">
        <p-button icon="pi pi-home" iconPos="top" styleClass="alternateBtnV2" size="large"/>
        <p>Menu</p>
      </div> 
      <div class="sidebar-button">
        <p-button icon="pi pi-users" iconPos="top" styleClass="alternateBtnV2"size="large" (click)="goToPersonnels()"/>
        <p>Personnels</p>
      </div>
      <div class="sidebar-button">
        <p-button icon="pi pi-lightbulb" iconPos="top" styleClass="alternateBtnV2"size="large"/>
        <p>Compétences</p>
      </div>
      <div class="sidebar-button">
        <p-button icon="pi pi-hammer" iconPos="top" styleClass="alternateBtnV2"size="large" (click)="goToMission()"/>
        <p>Mission</p>
      </div>
      <div class="sidebar-button">
        <p-button icon="pi pi-sitemap" iconPos="top" styleClass="alternateBtnV2"size="large" />
        <p>Equipe</p>
      </div>
      
      
     
    </div>
  </div>
  <div id="topbar">
    <div>
      <h2 style="color: #F3F3F3;">Bienvenue,</h2>
      <h2 style="color: #6CB87A;">{{ userInfo?.prenom }} {{ userInfo?.nom }}</h2>
    </div>
    <div id="topbar-buttons">
      <p-button icon="pi pi-user" (click)="goToProfile()" [rounded]="true" styleClass="primaryBtn"/>
      <p-button icon="pi pi-sign-out" (click)="confirm()" [rounded]="true" [outlined]="true"/>
    </div>
  </div>
  <div id="router-outlet"><router-outlet></router-outlet></div>
</div>
