/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


$main-green:#6CB87A;
$main-dark:#3F3D56;
$main-light:#F3F3F3;

body{
  display: flex;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: $main-light;
    color: $main-dark;
}
app-root{
  width: 100%;
}
  
.p-button-primary:hover {
  background-color: #a04545; /* Couleur au survol */
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-green; 
  border-radius: 10px;
}
:host ::ng-deep .primaryBtn {
  background-color: $main-green !important; /* Couleur de fond personnalisée */
  color: $main-light !important; /* Couleur du texte */
  border-color: $main-green !important; /* Couleur de la bordure */
  border-radius: 8px; /* Arrondi global */
}
:host ::ng-deep .primaryBtn:hover {
  background-color: darken($main-green, 10%) !important; /* Couleur au survol */
}

:host ::ng-deep .alternateBtn {
  background-color: $main-dark !important; /* Couleur de fond personnalisée */
  color: $main-green !important; /* Couleur du texte */
  border-color: $main-dark !important; /* Couleur de la bordure */
  border-radius: 8px; /* Arrondi global */
}
:host ::ng-deep .alternateBtn:hover {
  background-color: darken($main-dark, 10%) !important; /* Couleur au survol */
}

:host ::ng-deep .alternateBtnV2 {
  background-color: $main-dark !important; /* Couleur de fond personnalisée */
  color: $main-light !important; /* Couleur du texte */
  border-color: $main-dark !important; /* Couleur de la bordure */
  border-radius: 8px; /* Arrondi global */
}
:host ::ng-deep .alternateBtnV2:hover {
  background-color: darken($main-dark, 10%) !important; /* Couleur au survol */
}
:host ::ng-deep .p-button-outlined{
  background-color: $main-light !important;
  border-color: $main-green !important;
  color: $main-green !important;
}
:host ::ng-deep .p-button-outlined:hover{
  background-color: darken($color: $main-light, $amount: 30%);
  color: $main-light !important;
}
.bg-primary{
  background-color: $main-green;
}
.bg-secondary{
  background-color: $main-dark;
}
:root .p-button {
  background-color: $main-green !important; /* Couleur de fond personnalisée */
  color: $main-light !important; /* Couleur du texte */
  border-color: $main-green !important; /* Couleur de la bordure */
  border-radius: 8px; /* Arrondi global */
}
:root .p-button:hover {
  background-color: darken($main-green, 10%) !important; /* Couleur au survol */
}

:root .p-button-outlined {
  background-color: $main-light !important; 
  border-radius: 8px; 
  border-color: $main-green !important;
  color: $main-green !important;
}
:root .p-button-outlined:hover {
  background-color: darken($color: $main-light, $amount: 30%); 
  color: $main-light !important;
}
.A{
  background-color: #007bff; /* Bleu */
  color: white;
}
.B{
  background-color: #000000; /* Vert */
  color: white;
}
.C{
  background-color: #fd7e14; /* Orange */
  color: white;
}
.D{
  background-color: #6f42c1; /* Violet */
  color: white;
}
.E{
  background-color: #dc3545; /* Rouge */
  color: white;
}