/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
$main-green:#6CB87A;
$main-dark:#3F3D56;
$main-light:#F3F3F3;

body{
  display: flex;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: $main-light;
    color: $main-dark;
}
app-root{
  width: 100%;
}

.p-button {
    background-color: #af4c4c; /* Remplacez par votre couleur */
    border-color: #af5c4c; /* Assurez une bordure cohérente */
    color: white; /* Couleur du texte */
}
  
.p-button-primary:hover {
  background-color: #a04545; /* Couleur au survol */
}
/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-green; 
  border-radius: 10px;
}
:host ::ng-deep .primaryBtn {
  background-color: $main-green !important; /* Couleur de fond personnalisée */
  color: $main-light !important; /* Couleur du texte */
  border-color: $main-green !important; /* Couleur de la bordure */
  border-radius: 8px; /* Arrondi global */
}
:host ::ng-deep .primaryBtn:hover {
  background-color: darken($main-green, 10%) !important; /* Couleur au survol */
}

:host ::ng-deep .alternateBtn {
  background-color: $main-dark !important; /* Couleur de fond personnalisée */
  color: $main-green !important; /* Couleur du texte */
  border-color: $main-dark !important; /* Couleur de la bordure */
  border-radius: 8px; /* Arrondi global */
}
:host ::ng-deep .alternateBtn:hover {
  background-color: darken($main-dark, 10%) !important; /* Couleur au survol */
}

:host ::ng-deep .alternateBtnV2 {
  background-color: $main-dark !important; /* Couleur de fond personnalisée */
  color: $main-light !important; /* Couleur du texte */
  border-color: $main-dark !important; /* Couleur de la bordure */
  border-radius: 8px; /* Arrondi global */
}
:host ::ng-deep .alternateBtnV2:hover {
  background-color: darken($main-dark, 10%) !important; /* Couleur au survol */
}
:host ::ng-deep .p-button-outlined{
  border-color: $main-green !important;
  color: $main-green !important;
}
:host ::ng-deep .p-button-outlined:hover{
  transition: background-color 1s;
  background-color: $main-light !important;
}