/* You can add global styles to this file, and also import other style files */
$main-green:#6CB87A;
$main-dark:#191A23;
$main-light:#F3F3F3;

body{
  display: flex;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: $main-light;
    color: $main-dark;
}

.p-button {
    background-color: #af4c4c; /* Remplacez par votre couleur */
    border-color: #af5c4c; /* Assurez une bordure cohérente */
    color: white; /* Couleur du texte */
}
  
.p-button-primary:hover {
  background-color: #a04545; /* Couleur au survol */
}
/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-green; 
  border-radius: 10px;
}
