@import '../../styles.scss';

.table-title {
  display: flex;
  margin: 0;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  background-color: $main-green;
  color: $main-light;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }

  p-button {
    margin-left: 1rem;
  }
}
