<div style="margin: 1%;">
  <p-steps [activeIndex]="active" [model]="items" [readonly]="false" />
</div>


<!-- Affichage dynamique des composants -->
<div *ngIf="active === 0 && mission">
  <app-comp-selection [mission]="mission"></app-comp-selection>
</div>
<div *ngIf="active === 1 && mission">
  <app-team-selection [mission]="mission"></app-team-selection>
</div>

<div class="btn-footer">

  <p-button
    *ngIf="active > 0"
    label="Précédent"
    icon="pi pi-arrow-left"
    (click)="onPrevious()"
    [disabled]="active === 0"
    styleClass="p-button-outlined"
    class="prev-btn "
  ></p-button>
  <p-button
    label="{{customBtnLabel}}"
    icon="pi pi-arrow-right"
    (click)="onNext()"
    [disabled]="active === items.length - 1"
    class="next-btn primaryBtn"
  ></p-button>

</div>
